.bestseller__title {
  padding: 48px 0;

  @include mobile {
    text-align: center;
    padding: 40px 0 16px;
  }
}

.bestseller__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  gap: 48px 24px;

  @include tablet {
    // grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
  }

  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
    gap: 16px 8px;
  }
}

.bestseller__cards .card {
  width: auto;
}

.bestseller__cards .card__title {
  // @include mobile {
  //   min-height: 78px;
  // }
}
