.collection__title {
  margin-bottom: 48px;
  margin-top: 48px;
}

.collection {
  margin-bottom: 100px;
}
.collection__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
