.footer {
  background-color: #141718;
  padding: 80px 160px 32px;
  color: #fff;

  @include tablet {
    padding: 48px 0;
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;

  &:nth-child(1) {
    margin-bottom: 57px;

    @include tablet {
      margin-bottom: 40px;
    }
  }

  @include mobile {
    align-items: center;
    flex-direction: column;
  }
}
.footer__title {
  display: flex;
  gap: 32px;
  font-family: var(--font-accent);

  @include tablet {
    gap: 8px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
  }
}

.footer__divide {
  width: 1px;
  background: #6c7275;
  height: 100%;

  @include mobile {
    height: 1px;
    width: 24px;
  }
}
.footer__logo {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;

  a {
    text-decoration: none;
    color: #fff;
  }

  span {
    color: #6c7275;
  }
}
.footer__desc {
  p {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #e8ecef;
  }
}
.footer__nav {
  ul {
    display: flex;
    gap: 40px;

    li {
      font-family: var(--font-main);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;

      opacity: 1;
      transition: all 0.2s ease-in;

      a {
        color: rgba(254, 254, 254, 1);
        text-decoration: none;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }
  }
}
.footer__copyright {
  display: flex;
  align-items: center;
  gap: 28px;

  font-family: var(--font-accent);

  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;

  a {
    text-decoration: none;
    color: #fefefe;
    font-weight: 600;
    opacity: 1;
    transition: all 0.2s ease-in;

    &:hover {
      opacity: 0.8;
    }
  }

  @include mobile {
    flex-direction: column-reverse;
  }
}
.footer__socials {
  display: flex;
  gap: 24px;
}

.footer__link {
  transition: all 0.2s ease-in;
  a {
    display: block;
    width: 24px;
    height: 24px;
    opacity: 1;
  }

  &:hover {
    opacity: 0.8;
  }
}

.footer__row-bordered {
  border-top: 0.5px solid #6c7275;
  padding: 16px 0;
  flex-direction: column-reverse;
  gap: 32px;

  @include mobile {
    padding: 24px 0;
  }
}

.pptu {
  display: flex;
  gap: 28px;
}
