.newsletter {
  height: 360px;
  background-image: url('./../img/newsletter/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #e2e4e3;

  display: flex;
  justify-content: center;
  padding-top: 100px;

  @include mediaBG() {
    background-image: url('./../img/newsletter/bg@2x.jpg');
  }
}
.newsletter__content {
  max-width: 488px;
  flex-grow: 1;

  text-align: center;
}
.newsletter__title {
  margin-bottom: 8px;
}
.newsletter__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #121212;

  margin-bottom: 32px;
}
.newsletter__form {
  display: flex;
  gap: 8px;

  padding: 12px 0;
  border-bottom: 1px solid rgba(108, 114, 117, 0.5);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-align: left;
}
.form__input-icon {
  position: absolute;
  top: 2px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.form__input {
  padding: 0 0 0 32px;
  position: relative;
  flex-grow: 1;

  display: flex;
  align-items: center;

  input {
    width: 100%;
    color: #121212;

    &::placeholder {
      color: #6c7275;
    }
  }
}
.form__btn {
  button {
    color: #6c7275;
    transition: all 0.2s ease-in;

    &:hover {
      color: #121212;
    }
  }
}
