.promotion {
  position: relative;
  margin-top: 100px;

  &::before {
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url('./../img/promotion/promotion.jpg');
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;

    @include mobile {
      height: 366px;
      width: 100%;
      top: unset;
      bottom: 0;
      left: 0;
    }
  }

  @include mobile {
    padding-bottom: 366px;
    margin-top: 40px;
  }
}

.promotion__container {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(255, 171, 0, 0.4);

  padding-left: calc((100% - var(--container-width)) / 2 + (var(--container-width) / 2));
  padding-right: calc((100% - var(--container-width)) / 2);

  @include tablet {
    padding-right: calc((100% - var(--container-width)) / 2);
  }

  @include mobile {
    padding: 0 32px;
  }

  @include padd16 {
    padding: 0 16px;
  }
}
.promotion__content {
  padding: 101px 72px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  @include tablet {
    padding: 50px 32px;
  }

  @include mobile {
    padding: 28px 0;
  }
}
.promotion__title {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    @include mobile {
      font-size: 34px;
      line-height: 38px;
    }
  }
}
.promotion__tagline {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: rgba(55, 125, 255, 1);
}

.promotion__desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;

  @include mobile {
    font-size: 14px;
    line-height: 22px;
  }
}
.promotion__timer {
  height: 118px;
}
.promotion__timer-expires {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-bottom: 12px;
}

.promotion__btn {
  .btn {
    padding: 6px 40px;
  }
}

.promotion__timer-timer {
}
.promotion__sale {
}
