<div class="timer" id="timer01">
  <div class="timer__el">
    <span class="timer__value" id="days"></span>
    <span class="timer__desc">Days</span>
  </div>
  <div class="timer__el">
    <span class="timer__value" id="hours"></span>
    <span class="timer__desc">Hours</span>
  </div>
  <div class="timer__el">
    <span class="timer__value" id="minutes"></span>
    <span class="timer__desc">Minutes</span>
  </div>
  <div class="timer__el">
    <span class="timer__value" id="seconds"></span>
    <span class="timer__desc">Seconds</span>
  </div>
</div>
